* {
	box-sizing: border-box;
	color: white;
	font-size: 25px;
	font-weight: bold;
}

body {
	background: #ef4339;
}

.app {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.header {
	padding-top: 15px;
	margin-bottom: 20px;
	font-size: 35px;
	background: #ef4339;
}

.instruction-text {
	padding-top: 10px;
	padding-bottom: 5px;
}

.input-group {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}

.wordTypeText {
	width: 200px;
	padding-bottom: 5px;
	padding-right: 30px;
	/* color: #100c08; */
}

.story-blank {
	color: #080808;
	border-radius: 5px;
}

.error-text {
	padding-top: 5px;
	padding-bottom: 5px;
}

.story-title {
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 10px;
}

.story-text {
	padding-bottom: 10px;
	font-size: 20px;
	width: 60%;
	align-self: center;
}

.submitAndNewGameButton {
	background: #393e46;
	font-weight: bold;
	cursor: pointer;
	width: 450px;
	height: 30px;
	border-radius: 15px;
	align-self: center;
	margin-top: 10px;
	margin-bottom: 15px;
}

@media (max-width: 485px) {
	* {
		font-size: 17px;
	}

	.instruction-text {
		margin-left: 10px;
		margin-right: 10px;
	}

	.story-text {
		width: 80%;
	}

	.submitAndNewGameButton {
		width: 325px;
		font-size: 25px;
	}
}
