* {
	box-sizing: border-box;
	color: white;
}

body {
	background: black;
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.header {
	padding-top: 15px;
	padding-bottom: 10px;
	font-size: 30px;
	font-weight: bold;
}

.input-group {
	padding-bottom: 8px;
	display: table;
	position: relative;
}

.wordTypeText {
	padding-bottom: 5px;
}

.submitButton {
	background: red;
	font-weight: bold;
	cursor: pointer;
	width: 141.6px;
	height: 20px;
	border-radius: 15px;
	align-self: center;
	margin-bottom: 15px;
}
