* {
	box-sizing: border-box;
	color: white;
	font-size: 20px;
}

body {
	background: black;
}

.app {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	text-align: center;
}

.header {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 30px;
	font-weight: bold;
}

.input-group {
	display: flex;
	justify-content: center;
	padding-bottom: 8px;
}

.wordTypeText {
	width: 200px;
	padding-bottom: 5px;
}

.story-blank {
	color: black;
	border-radius: 5px;
}

.story-title {
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 10px;
}

.story-text {
	padding-bottom: 10px;
	font-size: 20px;
	width: 60%;
	align-self: center;
}

.submitAndNewGameButton {
	background: red;
	font-weight: bold;
	cursor: pointer;
	width: 141.6px;
	height: 25px;
	border-radius: 15px;
	align-self: center;
	margin-top: 10px;
	margin-bottom: 15px;
}

@media (max-width: 500px) {
	.story-text {
		width: 80%;
	}
}
